In [23]:
import pandas as pd
import numpy as np
# pandas可以根据标签选择数据  loc
dates = pd.date_range('20200101',periods=6)
df = pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=['A','B','C','D'])
#也可以根据序列选择数据iloc
print(df)
#也可以通过判断指令筛选数据

             A   B   C   D
2020-01-01   0   1   2   3
2020-01-02   4   5   6   7
2020-01-03   8   9  10  11
2020-01-04  12  13  14  15
2020-01-05  16  17  18  19
2020-01-06  20  21  22  23

In [8]:
print(df.A)

2020-01-01     0
2020-01-02     4
2020-01-03     8
2020-01-04    12
2020-01-05    16
2020-01-06    20
Freq: D, Name: A, dtype: int32

In [10]:
print(df['A'])

2020-01-01     0
2020-01-02     4
2020-01-03     8
2020-01-04    12
2020-01-05    16
2020-01-06    20
Freq: D, Name: A, dtype: int32

In [11]:
print(df[0:3])

            A  B   C   D
2020-01-01  0  1   2   3
2020-01-02  4  5   6   7
2020-01-03  8  9  10  11

In [13]:
print(df.loc['20200101'])

A    0
B    1
C    2
D    3
Name: 2020-01-01 00:00:00, dtype: int32

In [24]:
df.loc['20200102',['A','B']]

A    4
B    5
Name: 2020-01-02 00:00:00, dtype: int32

## pandas 处理丢失的数据

In [25]:
# pd.dropna()
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
# print(df)
df

             A     B     C   D
2013-01-01   0   NaN   2.0   3
2013-01-02   4   5.0   NaN   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [16]:
# pd.dropna()直接去掉
df.dropna(axis=0,how='any') #0对行进行操作 只要存在 NaN就删掉

             A     B     C   D
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [18]:
df.dropna(axis=1,how='any') # 对列进行操作

             A   D
2013-01-01   0   3
2013-01-02   4   7
2013-01-03   8  11
2013-01-04  12  15
2013-01-05  16  19
2013-01-06  20  23

In [20]:
# pd.fillna()如果存在就用其他值代替
df.fillna(value=0)

             A     B     C   D
2013-01-01   0   0.0   2.0   3
2013-01-02   4   5.0   0.0   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [28]:
# 判断是都有缺失数据
df.isnull()

                A      B      C      D
2013-01-01  False   True  False  False
2013-01-02  False  False   True  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False  False  False
2013-01-06  False  False  False  False

In [35]:
dictionary = {'states':['one','two','three','four','five'],
              'years':[2000,2001,2002,2003,2004],
              'pops':[1.5,1.7,1.3,2.4,2.9]}
df1 = pd.DataFrame(dictionary,index=['1','2','3','4','5'])

df1['new_add'] = [7,4,5,8,2]
df1

  states  years  pops  new_add
1    one   2000   1.5        7
2    two   2001   1.7        4
3  three   2002   1.3        5
4   four   2003   2.4        8
5   five   2004   2.9        2

In [47]:
#pandas 排序
s1 = pd.Series([4,3,7,2,8],index=['z','y','j','i','e'])
d1 = pd.DataFrame({'e':[4,2,6,1],'f':[0,5,4,2]})

s2 = s1.sort_index() #按照索引排序
d2 = d1.sort_values(by='f') # 按照值排序

In [37]:
s2

e    8
i    2
j    7
y    3
z    4
dtype: int64

In [38]:
d2

   e  f
0  4  0
3  1  2
2  6  4
1  2  5

In [50]:
#数据集的删除
s3 = s1.drop('z')
d3 = d1.drop(0)

In [41]:
s3

y    3
j    7
i    2
e    8
dtype: int64

In [52]:
d3

   e  f
1  2  5
2  6  4
3  1  2

In [51]:
d1

   e  f
0  4  0
1  2  5
2  6  4
3  1  2

In [54]:
#去重
df1 = pd.DataFrame({'k1':['one']*3+['two']*4,'k2':[1,1,2,3,3,4,4]})
df1

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [55]:
df2 = df1.drop_duplicates\
    ()
df2

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4